.container{
    width: 100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.btn{
    padding:0.8em;
    outline: none;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
    background-color:hsla(177, 42%, 66%,1);
}

.btn:hover{
    background-color:hsla(177, 42%, 36%,1);
}

.important{
   color: #ED2939;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1em;
    margin-bottom: 3em;
}